#card {
  width: 530px;
  height: 274px;
  padding: 25px;
  padding-top: 10px;
  padding-bottom: 0;
  background: #fff;
  z-index: 5;
}

#card .img1 {
  width: 100px;
  float: left;
  margin-left: -16px;
  border-radius: 5px;
}

#card .img2 {
  width: 40px;
  float: right;
  margin-right: -16px;
  border-radius: 5px;
}

#card .foto {
  top: 74px;
  left: 10px;
  position: absolute;
  width: 177px;
  height: 186px;
  border-radius: 2px;
}

#card h2 {
  text-align: center;
  font-family: courier;
  color: #333;
  margin: 0 auto;
  padding: 0;
  font-size: 14pt;
}

#card .h1 {
  position: absolute;
  top: 74px;
  right: 90px;
  width: 200px;
}

#card .bottom {
  position: absolute;
  top: 246px;
  text-align: center;
  width: 200px;
}

#card h1 {
  text-align: center;
  color: #333;
  margin: 0 auto;
  padding: 0;
  font-size: 18pt;
}

#card p {
  font-family: courier;
  font-size: 22px;
}

.titulo-back {
  font-size: 28px !important;
}

#card span {
  font-family: courier;
}

.carnet {
  width: 1116px;
}

.carnet-row {
  width: 1116px;
}

.card-border-left {
  margin-left: 30px;
  position: relative;
}

.card-border-left {
  margin-left: -26px;
  position: relative;
}

.detalle-bajo {
  margin-top: -12px;
}
