<div class="container">
  <div class="row cuerpo">
    <div class="col-lg-12">
      <div class="row mb-4">
        <div class="col-6 text-center">
          <button routerLink="/jugadores-pdf" class="btn btn-secondary">
            CANCELAR
          </button>
        </div>
        <div class="col-6 text-center">
          <button class="btn btn-info" (click)="download()">
            DESCARGAR PFD
          </button>
        </div>
      </div>
      <div class="row mb-2 mt-4">
        <div class="col-12 text-left" style="background-color: white">
          <h2>PARTE DELANTERA</h2>
        </div>
      </div>
      <div id="carnets" class="carnet">
        <div *ngFor="let Jugador of list; let i = index">
          <div class="row">
            <div class="col">
              <div class="border border-dark" id="card" style="margin-left: 30px; position: relative">
                <img src="assets/img/carnet/fdpb.png" class="img1" />
                <img src="assets/img/carnet/escudoArequipa.png" class="img2" />
                <h2>
                  LIGA DEPORTIVA DISTRITAL DE BASKETBALL MASCULINO DE AREQUIPA
                </h2>
                <div class="h1 border border-dark">
                  <h1 *ngIf="origenData == 'jug'">{{ list[i].categoria }}</h1>
                  <h1 *ngIf="origenData == 'dir'">{{ list[i].cargo }}</h1>
                  <h1 *ngIf="origenData == 'ent'">ENTRENADOR</h1>
                </div>
                <div class="foto border border-dark"></div>
                <div class="row">
                  <div class="col">
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="border border-dark" id="card" style="margin-left: -26px; position: relative">
                <h2 class="titulo-back">CARNET DE AFILIACIÓN {{ year }}</h2>
                <b>
                  <div class="row mt-4">
                    <div class="col-3">
                      <p *ngIf="origenData == 'jug'"><cite>CÉDULA</cite></p>
                      <p *ngIf="origenData == 'dir' || origenData == 'ent'"><cite>DNI</cite></p>
                    </div>
                    <div class="col">
                      <p *ngIf="origenData == 'jug'">: {{ list[i].cedula }}</p>
                      <p *ngIf="origenData == 'dir' || origenData == 'ent'">: {{ list[i].dni }}</p>
                    </div>
                  </div>
                  <div class="row detalle-bajo">
                    <div class="col-3">
                      <p><cite>APELLIDOS</cite></p>
                    </div>
                    <div class="col">
                      <p>: {{ list[i].apellidos }}</p>
                    </div>
                  </div>
                  <div class="row detalle-bajo">
                    <div class="col-3">
                      <p><cite>NOMBRES</cite></p>
                    </div>
                    <div class="col">
                      <p>: {{ list[i].nombres }}</p>
                    </div>
                  </div>
                  <div class="row detalle-bajo">
                    <div class="col-3">
                      <p *ngIf="origenData == 'jug'"><cite>CLUB</cite></p>
                      <p *ngIf="origenData == 'dir' || origenData == 'ent'"><cite>CLUB</cite></p>
                    </div>
                    <div class="col">
                      <p *ngIf="origenData == 'jug'">: {{ list[i].club[0].detalle }}</p>
                      <p *ngIf="origenData == 'dir' || origenData == 'ent'">: {{ list[i].club }}</p>
                    </div>
                  </div>
                </b>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
